@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    padding: 12px 0;
    /* background: rgb(36, 36, 36); */
    background-color: rgba(16, 16, 16, 0.95);
    font-family: 'ubuntu', sans-serif;
    z-index: 999;
}

.max-width {
    max-width: 1300px;
    padding-left: 5%;
    padding-right: 3%;
    margin: auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: rgb(223, 223, 223);
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    /* height: 60px;
    width: 80px;
    border-radius: 40px; */
}

.navbar .menu li a {
    color: rgb(248, 246, 246);
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
}

/* menu-btn style */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Home */
.home {
    display: flex;
    height: 730px;
    background-size: cover;
    background: url("files/backgroundImg.jpg");
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
    color: white;
    /* font-family: 'Ubuntu', sans-serif; */
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 .typing {
    font-size: 45px;
    color: #ff2a4a;
}


/* About */
.about {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 70px;
    /* padding-bottom: 500px; */
    background-color: rgb(36, 36, 36);
    color: rgb(223, 223, 223);
}

.about h2 {
    font-size: 40px;
    padding-bottom: 30px;
}

.about .about-content .profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.about .about-content .description {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Education */
.education {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(36, 36, 36);
    color: rgb(223, 223, 223);
    padding-top: 100px;
}

.education-content h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
}

.education .row {
    display: flex;
}

.education-component {
    padding-top: 10px;
    padding-bottom: 20px;
    flex: 1;
}

.education-component h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    color: rgba(223, 223, 223, 0.7);
}

.education-component h5 {
    text-align: center;
    font-size: 17px;
    padding-bottom: 5px;
}

.education-component p {
    text-align: center;
    font-size: 12px;
    padding-bottom: 25px;
}

.education-component li {
    text-align: center;
    font-size: 13px;
    /* padding-left: 15%; */
    padding-bottom: 5px;
    list-style-type: none;
}

.education-component .grades {
    font-size: 15px;
}

/* Experience */
.experience {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(36, 36, 36);
    color: rgb(223, 223, 223);
    padding-top: 70px;
}

.experience h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
}

.experience .job {
    margin-left: 35%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.job-timeline {
    background-color: rgb(36, 36, 36);
    margin-left: 22%;
    border-left: 6px solid #cfcfcf;
    padding-bottom: 50px;
}

.experience .workplace {
    padding-top: 10px;
    font-size: 25px;
}

.experience .jobWork {
    padding-top: 5px;
    padding-bottom: 5px;
}

.experience .jobDesc {
    margin-right: 22%;
}

/* copied */
.timeline {
    max-width: 100%;
    list-style-type: none;
    margin: 0 auto;
    /* display: flex; */
    left: 35%;
    padding-top: 2%;
}
.timeline:before {
    background: #cfcfcf;
    content: '';
    top: 0;
    width: 5px;
    height: 100%;
    left: 10px;
}

.timeline-event:hover .timeline-icon {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #cfcfcf;
}
.timeline-event:hover .timeline-thumbnail {
    -moz-box-shadow: inset 40em 0 0 0 #6b6b6b/*#ed5565*/;
    -webkit-box-shadow: inset 40em 0 0 0 #6b6b6b/*#ed5565*/;
    box-shadow: inset 40em 0 0 0 #6b6b6b/*#ed5565*/;
}
.timeline-event #workplace{
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.timeline-event:hover  #workplace{
    color: #6b6b6b/*#4f83f2*/;
}
.timeline-event-copy {
    left: 50px;
    padding: 32px 32px 0;
    top: -32px;
    width: 100%;
}
.timeline-event-copy p:not(.timeline-thumbnail) {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 0px;
}
.timeline-icon {
    -moz-transition: -moz-transform 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-in;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: static;
    background-color: white;
    outline: 10px solid #6b6b6b;
    display: block;
    margin: 10px 8px 8px -11px;
    top: 0;
    left: 32px;
    width: 16px;
    height: 16px;
    z-index: 0;
}
.timeline-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    transition: box-shadow 0.5s ease-in 0.1s;
    -moz-box-shadow: inset 0 0 0 0em #ffffff/*#1da1f2*/;
    -webkit-box-shadow: inset 0 0 0 0em #ffffff/*#1da1f2*/;
    box-shadow: inset 0 0 0 0em #ffffff/*#1da1f2*/;
    background: none repeat scroll 0 0 #6b6b6b;
    box-shadow: 0 0 0 0 #ffffff/*#1da1f2*/ inset;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 8px 15px;
    transition: box-shadow 0.5s ease-in 0.1s;
}


/* Skills */
.skills {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(36, 36, 36);
    color: rgb(223, 223, 223);
    padding-top: 70px;
    background: url("files/coding.jpeg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.83);
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    /* min-height: 100%; */
    padding-bottom: 50px;
    text-align: center;
}

.skills h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 70px;
}

.skills .skills-row {
    text-align: center;
    display: flex;
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 15px;
}

.skills .skills-component {
    flex: 1;
    text-align: center;
    padding-bottom: 50px;
}

.skills .skills-component .skills-inside {
    text-align: center;
}

.skills .skills-component h3 {
    padding-bottom: 20px;
}

.skills .skills-component .skills-inside p {
    background-color: rgba(248, 245, 246, 0.15);
    color: rgba(165, 165, 165, 0.93);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
}

.skills .skills-component .skills-inside br {
    line-height: 10px;
}

/* Projects */
.projects {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(36, 36, 36);
    color: rgb(223, 223, 223);
    padding-top: 70px;
}

.projects h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 180px;
}

.projects .container .row {
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
}

.projects .container .row .image-container {
    display: inline;
    margin-bottom: 10%;
    text-align: center;
}

/* image size: 2500x1300 */
.projects .container .row .image-container .image {
    margin-top: -18%;
    width: 85%;
    height: auto;
    text-align: center;
    opacity: 0.8;
    transition: 0.7s ease;
}

.projects .container .row .image-container .project {
    opacity: 0;
    transition: 0.3s ease;
}

.projects .container .row .image-container:hover .image {
    opacity: 0;
    transition: 0.5s ease;
}

.projects .container .row .image-container:hover .project {
    opacity: 1;
    transition: 0.7s ease;
}

.projects .container .row .project h3 {
    margin-top: -43%;
    font-size: 30px;
}

.projects .container .row .project li {
    text-align: left;
    list-style-type: none;
    margin-left: 10%;
    margin-right: 10%;
}

.projects .container .row .project p {
    font-size: 13px;
}


/* Contact */
.contact {
    font-family: 'Poppins', sans-serif;
    color: rgb(223, 223, 223);
    background-color: rgba(0, 0, 0, 0.93);
    text-align: center;
    padding-top: 50px;
}

.contact .logos .linkedin {
    color: #fff;
    font-size: 25px;
    padding: 10px;
}
.contact .logos .email {
    color: #fff;
    font-size: 25px;
    padding: 10px;
}
.contact .logos .github {
    color: #fff;
    font-size: 25px;
    padding: 10px;
}
.contact .logos .resume {
    color: #fff;
    font-size: 25px;
    padding: 10px;
}
.contact .logos .instagram {
    color: #fff;
    font-size: 25px;
    padding: 10px;
}

.contact .logos .linkedin:hover {
    color: #ff2a4a;
}
.contact .logos .email:hover {
    color: #ff2a4a;
}
.contact .logos .github:hover {
    color: #ff2a4a;
}
.contact .logos .resume:hover {
    color: #ff2a4a;
}
.contact .logos .instagram:hover {
    color: #ff2a4a;
}

.contact .footer {
    padding-top: 5px;
    padding-bottom: 20px;
    padding-right: 3%;
    text-align: right;
    font-size: 12px;
}


/* media query */
@media (max-width: 400px) and (min-width: 250px) {
    .education-component h2 {
        font-size: 20px;
    }

    .education-component h5 {
        font-size: 14px;
    }

    .projects .container .row .image-container .project h3 {
        font-size: 13px;
    }
    
    .projects .container .row .image-container .project p {
        font-size: 6px;
    }

    .projects .container .row .image-container .project li {
        list-style-type: none;
        font-size: 8px;
    }

    .projects .container .row {
        margin-top: -7%;
    }
}

@media (max-width: 550px) and (min-width: 400px) {
    .education-component h2 {
        font-size: 21px;
    }

    .education-component h5 {
        font-size: 15px;
    }

    .projects .container .row .image-container .project h3 {
        font-size: 16px;
    }
    
    .projects .container .row .image-container .project p {
        font-size: 8px;
    }

    .projects .container .row .image-container .project li {
        list-style-type: none;
        font-size: 10px;
    }

    .projects .container .row {
        margin-top: -5%;
    }
}

@media (max-width: 650px) and (min-width: 550px) {
    .education-component h2 {
        font-size: 23px;
    }

    .education-component h5 {
        font-size: 16px;
    }

    .projects .container .row .image-container .project h3 {
        font-size: 20px;
    }
    
    .projects .container .row .image-container .project p {
        font-size: 11px;
    }

    .projects .container .row .image-container .project li {
        list-style-type: none;
        font-size: 14px;
    }

    .projects .container .row {
        margin-top: -3%;
    }
}

@media (max-width: 750px) and (min-width: 650px) {
    .education-component h2 {
        font-size: 25px;
    }

    .education-component h5 {
        font-size: 18px;
    }

    .projects .container .row .image-container .project h3 {
        font-size: 25px;
    }
    
    .projects .container .row .image-container .project p {
        font-size: 12px;
    }

    .projects .container .row .image-container .project li {
        list-style-type: none;
        font-size: 17px;
    }

    .projects .container .row {
        margin-top: -3%;
    }
}

@media (max-width: 900px) and (min-width: 750px) {
    .education-component h2 {
        font-size: 20px;
    }

    .education-component h5 {
        font-size: 14px;
    }

    .projects .container .row .image-container .project h3 {
        font-size: 12px;
    }
    
    .projects .container .row .image-container .project p {
        font-size: 6px;
    }

    .projects .container .row .image-container .project li {
        list-style-type: none;
        font-size: 8px;
    }
}

@media (max-width: 1000px) and (min-width: 900px) {
    .education-component h2 {
        font-size: 23px;
    }

    .education-component h5 {
        font-size: 15px;
    }

    .projects .container .row .image-container .project h3 {
        font-size: 13px;
    }
    
    .projects .container .row .image-container .project p {
        font-size: 7px;
    }

    .projects .container .row .image-container .project li {
        list-style-type: none;
        font-size: 9px;
    }
}

@media (max-width: 1100px) and (min-width: 1000px) {
    .education-component h2 {
        font-size: 25px;
    }

    .education-component h5 {
        font-size: 17px;
    }

    .projects .container .row .image-container .project h3 {
        font-size: 14px;
    }
    
    .projects .container .row .image-container .project p {
        font-size: 8px;
    }

    .projects .container .row .image-container .project li {
        list-style-type: none;
        font-size: 10px;
    }
}

@media (max-width: 1250px) and (min-width: 1100px) {
    .education-component h2 {
        font-size: 27px;
    }

    .education-component h5 {
        font-size: 19px;
    }

    .projects .container .row .image-container .project h3 {
        font-size: 16px;
    }
    
    .projects .container .row .image-container .project p {
        font-size: 10px;
    }

    .projects .container .row .image-container .project li {
        list-style-type: none;
        font-size: 12px;
    }
}

@media (max-width: 750px) {
    .max-width {
        padding: 0 50px;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .navbar .logo {
        text-align: center;
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        text-align: center;
        left: -100%;
        top: 0;
        background: #111;
        padding-top: 80px;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 20px;
    }

    .home .home-content .text-1 {
        font-size: 20px;
    }
    
    .home .home-content .text-2 {
        font-size: 40px;
        font-weight: 600;
        margin-left: -3px;
    }
    
    .home .home-content .text-3 {
        font-size: 25px;
        margin: 5px 0;
    }

    .home .home-content .text-3 .typing {
        font-size: 28px;
    }


    .education-component {
        float: none;
    }

    .education .row {
        display: block;
    }

    .skills .skills-row {
        text-align: center;
        display: block;
    }

    .skills .skills-component {
        float: none;
    }

    .projects .container .row {
        display: block;
    }

    .projects .container .row .image-container {
        margin-bottom: 45%;
        display: block;
    }

    .contact .footer {
        padding-top: 5%;
        padding-right: 0%;
        text-align: center;
        font-size: x-small;
    }
}